torch==1.11.0+cu113
pandas==1.1.4
torchvision==0.12.0+cu113
pytorch3d @ git+https://github.com/facebookresearch/pytorch3d.git@stable
chumpy
gdown
scipy==1.1.0
opencv-python==4.1.2.30

pytorch-lightning==1.4.7
torchmetrics==0.6.0
pandas==1.1.4
pyarrow==4.0.0
scikit-learn==0.23.2
hydra-core==1.0.4
GitPython==3.1.11
plotly==4.13.0
onnx
fvcore
iopath
smplx[all]
vector-quantize-pytorch
torchmetrics==0.4.0
roma==1.2.5
